<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Honey Classifier Website</title>
        <link rel="stylesheet" href="static\style1.css">

    </head>
    <body style="background-image: url(static/b2.jpg);  width: 100%; 
    height: 100vh;background-size: cover; background-position: center; ">
         <div >
            <div class="nav">
                <img src="static/logo321.png" class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
            </div>
            <div class="content">
                <h1 style="text-transform: uppercase;">Welcome {{username}} In HONEY CLASSIFIER</h1>
                <p>We are provide you platform where you upload microscopic image of Honey Pollens and get the honey classification report with image. This system is fully automatic and gives you result in 5 second. You just click the below button and upload microscopic image of honey pollens </p>
                <div>
                    <a href="/classification">
                        <button type="button"><span></span> Classifier </button>
                    </a>
                </div>
            </div>
         </div>
    </body>
</html>

